.card {
    margin-left:10%;
    margin-right:10%;
}
#piesvg {
    margin-left:10%;
    margin-right:10%;
}
form {
    margin-top:40px;
}
.arc text {
  font: 14px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}