<form action="create">
    <input type="text" name="name" required>Name
    <input type="text" name="address" required>Address
    <input type="text" name="city" required>City
    <input type="text" name="state" required>State
    <input type="text" name="zip" required>Zip
    <input type="text" name="homephone">Home
    <input type="text" name="cellphone">Cell
    <input type="text" name="email">Email
    <input type="submit">
</form>